@import 'mixins.scss';

.cart {
    position: fixed;
    top: 0;
    right: -710px;
    width: 650px;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(245, 244, 244);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;

    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;

    transition: right 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;

    &__header {
        display: flex;
        gap: 1rem;
        padding: 1.5rem 1rem;

        &-close {
            background: none;
            border: none;
            font-size: 1.1rem;
            transition: 0.3s ease;
    
            &:hover {
                color: green;
                cursor: pointer;
            }
        }

        &-title {
            @include title-style;
        }
    }

    &__product-container {
        width: 90%;
        max-width: 650px;
        min-width: 300px;

        padding: 2.5rem 2.5rem;
        background-color: #fff;
        border-radius: 10px;
    }

    &__title-container {
        @include medium-title-style;
        display: flex;
        justify-content: space-between;
        padding-right: 10rem;
    }

    &__item-container {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        &__product-name, &__product-quantity, &__product-price {
            flex: 1;
            font-size: 1.05rem;
        }

        &__product-price {
            position: relative;
            left: 8px;
        }

        &__quantity-control {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.6rem;

            margin-right: 8.5rem;
        }

        &__quantity-control > button {
            background: none;
            border: none;
            font-size: 0.65rem;
            color: rgba(113, 113, 113, 0.946);
            cursor: pointer;
        }

        &__remove-btn {
            flex: none;
            background: none;
            border: none;
            position: relative;
            right: 1rem;
            top: 0;
            margin-left: auto;
            font-size: 1.03rem;
            transition: 0.3s ease;

            &:hover {
                color: green;
                cursor: pointer;
            }
        }
    }
}

.cart-visible {
    right: 0; 
}

.line-separator {
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(185, 185, 185);
}
