@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@mixin flex-container {
    display: flex;
    align-items: center;
}

@mixin cart-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin link-style {
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.4s ease;
}

@mixin title-style {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

@mixin medium-title-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.05rem;
    color: rgba(56, 56, 56, 0.946);
}

@mixin text-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

@mixin reset-button {
    background: none;
    border: none;
    outline: none;
}