.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 15px;
  }

.modal-content.dark-mode {
    background-color: #233446;

    .modal-button {
        color: #fff;
        transition: color 0.3s ease;

        &:hover {
            color: green;
        }
    }
}

.modal-button {
    position: relative;
    left: 20.5rem;
    bottom: 0.8rem;

    font-size: 1.07rem;
    font-weight: 600;

    background: none;
    border: none;

    &:hover {
        color: green;
    }
  }
  