@import 'mixins.scss';

:root {
    --light: #fff;
    --dark: rgb(30, 30, 30);
    --hover: green;
    --hover-light: rgb(99, 186, 99);
    --gray: rgba(233, 230, 230, 0.903);
}

.navigation {
    padding-bottom: 1rem;

    &__banner {
        padding: 0.87rem;
        background: var(--gray);
        margin-bottom: 0.3rem;

        @include flex-container;
        justify-content: space-between;

        .navigation__costumer-service, .navigation__sale, .navigation__mode {
            @include text-style;
            color: var(--dark);
            text-transform: uppercase;
        }

        .navigation__mode {
            @include reset-button;
            transition: color 0.4s ease;

            &:hover {
                color: var(--hover);
                cursor: pointer;
            }
        }
    }

    &__list {
        @include flex-container;
        justify-content: space-between;
        padding: 1rem 0;

        gap: 2.5rem;
        list-style: none;
    }

    &__link-container {
        @include flex-container;
        justify-content: center;
        width: 100%;
        gap: 3rem;
    }

    &__item {
        a {
            color: var(--dark);
            @include link-style;
            &:hover {
                color: var(--hover);
            }
        }
    }

    &__logo {
        position: relative;
        left: 2rem;

        transform: scale(1.6);
    }

    &.dark-mode {

        .navigation__banner {
            transition: background-color 0.3s ease;
            background-color: var(--dark);
        }

        .navigation__costumer-service, .navigation__sale, .navigation__mode {
            color: var(--light);
        }

        .navigation__mode {

            &:hover {
                color: var(--hover-light);
            }
        }

        .navigation__link, .navigation__logo {
            color: var(--light);
        }

        .navigation__link a:hover {
            color: var(--hover-light);
        }
    }
}


