@import 'mixins.scss';

:root {
    --light: #fff;
    --dark: rgb(30, 30, 30);
    --hover: green;
    --hover-light: rgb(99, 186, 99);
    --gray: rgba(233, 230, 230, 0.903);
}

.navigation {
    padding-bottom: 1rem;

    &__banner {
        padding: 0.87rem;
        background: var(--gray);
        margin-bottom: 0.3rem;

        @include flex-container;
        justify-content: space-between;

        .navigation__costumer-service, .navigation__sale, .navigation__mode {
            @include text-style;
            color: var(--dark);
            text-transform: uppercase;
        }

        .navigation__mode {
            @include reset-button;
            transition: color 0.4s ease;

            &:hover {
                color: var(--hover);
                cursor: pointer;
            }
        }
    }

    &__list {
        @include flex-container;
        justify-content: space-between;
        padding: 1rem 0;

        list-style: none;
        padding: 0;
    }

    &__link-container {
        @include flex-container;
        justify-content: center;
        width: 100%;
        gap: 3.5rem;

        margin-left: 3.5rem;
    }

    &__item {
        a {
            color: var(--dark);
            @include link-style;
            &:hover {
                color: var(--hover);
            }
        }
    }

    &__logo {
        position: relative;
        left: 2rem;

        transform: scale(1.6);
    }

    .shopping-cart {
        margin-left: auto;
        font-size: 1.52rem;
        color: var(--dark);

        transition: color 0.3s ease;

        .cart-icon {
            margin-left: 1.6rem;
            margin-bottom: -0.2rem;
        }

        .cart-text {
            @include text-style;
            font-size: 0.7rem;
            width: 6rem;
        }

        &:hover {
            color: var(--hover);
            cursor: pointer;
        }
    }
}

.dark-mode {

    .navigation__banner {
        transition: background-color 0.3s ease;
        background-color: var(--dark);
    }

    .navigation__costumer-service, .navigation__sale, .navigation__mode {
        color: var(--light);
    }

    .navigation__mode {

        &:hover {
            color: var(--hover-light);
        }
    }

    .navigation__link, .navigation__logo {
        color: var(--light);
    }

    .navigation__item a:hover {
        color: var(--hover-light);
    }

    .logo__image {
        position: relative;
    }

    .logo {
        position: relative;
        border-radius: 100%; 
    }

    .logo::before {
        content: "";
        background-color: rgba(198, 237, 246, 0.647);
        position: absolute;
        top: 10.5%;
        left: 12%;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        box-shadow: 0.5px 0.5px 5px 0.1px #fff;
    }

    .shopping-cart {
        color: var(--light);

        &:hover {
            color: var(--hover-light);
        }
    }
}


