.product-content {
    display: flex;
    padding: 1rem 2rem;
}

@media (min-width: 1500px) {
    .product-content {
        justify-content: center;
   
    }

    .outer-container {
        position: relative;
        right: 10rem;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
}

