@import '../styles/navigation.scss';

:root {
  --light: #fff;
  --dark: rgb(30, 30, 30);
  --deep-marine: #101c28;
  --hover: green;
}

* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  transition: background-color 0.3s ease;
}

.dark-mode {
  transition: background-color 0.3s ease;
  background-color: var(--deep-marine);
}
